<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Booking</title>
</head>
<body>

<!--allow user to book a hotel by entering the hotelID and checkin and checkout times using datepicker-->

<div class="container" style="text-align:center">
    <h2>Book a hotel</h2>
    <form action="booking" method="get" onsubmit="return validateForm()">
        <div class="form-group">
            <label for="hotelId">Hotel ID:</label>
            <input type="text" class="form-control" id="hotelId" placeholder="Enter hotel ID" name="hotelId" required>
        </div>
        <div class="form-group">
            <label for="checkIn">Check In:</label>
            <input type="date" class="form-control" id="checkIn" placeholder="Enter check in date" name="checkIn" required>
        </div>
        <div class="form-group">
            <label for="checkOut">Check Out:</label>
            <input type="date" class="form-control" id="checkOut" placeholder="Enter check out date" name="checkOut" required>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
<p id="error" style="color: red"></p>

<script>
    function validateForm() {
        var checkIn = document.getElementById("checkIn").value;
        var checkOut = document.getElementById("checkOut").value;
        if (checkIn > checkOut) {
            document.getElementById("error").innerHTML = "Check out date must be after check in date";
            return false;
        }
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1; //January is 0!
        var yyyy = today.getFullYear();
        if(dd<10) {
            dd = '0'+dd
        }
        if(mm<10) {
            mm = '0'+mm
        }
        today = yyyy + '-' + mm + '-' + dd;
        if (checkIn < today) {
            document.getElementById("error").innerHTML = "Check in date must be after today";
            return false;
        }
        return true;
    }
</script>


</body>
</html>