<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hotels</title>
  <meta charset="utf-8">

</head>
<body>

<div>
  <center>
  <h1>Showing results for "$search"</h1>
  </center>
</div>
<body>
  <center>
    <h3> Hotels: </h3>
     #foreach($hotel in $hotels)
    <a href="hotels?hotelId=$hotel.getHotelID()"><p>$hotel.getHotelName()</p></a>
    #end
    <form action="logout" method="get">
      <input type = "submit" value = "Logout" name = "logout" >
    </form>
  </center>
</body>

</body>
</html>