<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>  TravelHelper  </title>
</head>
<body>
<center>
<h1>TravelHelper</h1>
<h2>TravelHelper is a travel website that provides information about hotels in and around San Francisco.</h2>
<form method = "post">
    <input action = "login" type = "submit" value = "Login" name = "login" >
    <input action = "register" type = "submit" value = "Register" name = "register" >
</form>
</center>
<resource name="style1.css" type="download" location="style1.css">
</resource>
</body>
</html>
