<head>
  <title>Hotel Details</title>
  <meta charset="utf-8">
</head>
<body>

<!--<div class="jumbotron text-center">-->
<div>
  <center>
    <h1>$hotel.getHotelName()</h1>
  </center>
</div>
<body>
<center>

  <p><b>Hotel ID :</b> $hotel.getHotelID()</p>
  <p><b>Address :</b> $hotel.getAddress()</p>
    <p><b>City :</b> $hotel.getCity()</p>
    <p><b>State :</b> $hotel.getState()</p>
  <p><b>Average Ratings :</b> $rating</p>
  <p><b>Expedia :</b> <a href=$expediaLink> Click Here </a> </p>

  <div class="container" style="text-align:center">
    <h2>Book a hotel</h2>
    <form action="booking" method="post" onsubmit="return validateForm()">
<!--      hidden field for hotelId-->
        <input type="hidden" name="hotelId" value="$hotel.getHotelID()">
      <div class="form-group">
        <label for="checkIn">Check In:</label>
        <input type="date" class="form-control" id="checkIn" placeholder="Enter check in date" name="checkIn" required>
      </div>
      <div class="form-group">
        <label for="checkOut">Check Out:</label>
        <input type="date" class="form-control" id="checkOut" placeholder="Enter check out date" name="checkOut" required>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
  <p id="error" style="color: red"></p>

  #if($myBookedDates && $myBookedDates.size() > 0)
  <h2>My booked dates</h2>
    #foreach($bookedDate in $myBookedDates)
    <p>$bookedDate</p>
    #end
    #end

  <hr>
  <hr>
  <h3>Add Review:</h3>
  <form action="hotels?hotelId=$hotel.getHotelID()" method="post">
    <input type="hidden" name="hotelId" value="$hotel.getHotelID()">
    <input type="hidden" name="username" value="$username">
    <textarea rows="1" cols="60" name="title" placeholder="Title" required></textarea> <br><br>
    <textarea rows="5" cols="60" name="review" placeholder="Review text" required></textarea>
    <br><br>
    <input type="submit" value="Submit">
  </form>
  <hr>
  <h2><p align="justify"><b>Reviews :</b></p></h2>
  #foreach($review in $reviews)
  <h4 align="justify">$review.getTitle()</h4>
  <p align="justify"><b>Review </b> by <b style="color: #018AE6;">$review.getUserNickname()</b> on <b>$review.getReviewSubmissionTime()</b></p>

  <p align="justify">$review.getReviewText()</p>
  #if($review.getUserNickname() == $username)
  <!--  show a button for edit and a button for delete-->
  <p align="justify">
  <form action="edit" method="get">
    <input type="hidden" name="hotelId" value="$hotel.getHotelID()">
    <input type="hidden" name="username" value="$username">
    <input type="hidden" name="reviewId" value="$review.getReviewID()">
    <input type="hidden" name="title" value="$review.getTitle()">
    <input type="hidden" name="reviewText" value="$review.getReviewText()">
    <input type="submit" name="edit" value="Edit">
    <input type="submit" name="delete" value="Delete">
  </form>
  </p>

  #end
  <br>
  #end
    <form action="logout" method="get">
      <input  type = "submit" value = "Logout" name = "logout" >
    </form>


</center>

<script>
    function validateForm() {
        var checkIn = document.getElementById("checkIn").value;
        var checkOut = document.getElementById("checkOut").value;
        if (checkIn > checkOut) {
            document.getElementById("error").innerHTML = "Check out date must be after check in date";
            return false;
        }
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1; //January is 0!
        var yyyy = today.getFullYear();
        if(dd<10) {
            dd = '0'+dd
        }
        if(mm<10) {
            mm = '0'+mm
        }
        today = yyyy + '-' + mm + '-' + dd;
        if (checkIn < today) {
            document.getElementById("error").innerHTML = "Check in date must be after today";
            return false;
        }
        return true;
    }
</script>

</body>

</body>
</html>