<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Login </title>
</head>
<body>
<div style="text-align: center">
    <h1>Login Below!</h1>
    <form action = "login" method = "post">
        <label >Enter your username</label> <br>
        <input type="text" placeholder="Enter Username" name="username" required> </br> </br>
        <label >Enter your Password</label> <br>
        <input type="password" placeholder="Enter Password" name="pass" required> </br> </br>
        <button type="submit">Log me in!</button>
    </form>
    #if($error)
        <p style="color:Tomato;">  $error  </p>
    #end
</div>

</body>
</html>