<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>  Register  </title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


  #parse("templates/nav.html")
</head>
<body>
<div class="container-fluid" style="background-image: url('https://images.unsplash.com/photo-1543262619-948b0d202a83?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1848&q=80'); background-repeat: no-repeat; background-size: cover; height: 100vh; width: 100vw; background-position: center;">
<center  class="wrapper" style="padding-top: 100px; width: 100vw; margin-left: 400px;">
  <div class="card" style="width: 30%; background-color: rgba(255, 255, 255, 0.7); border-radius: 25px; padding: 20px;">
    <div class="card-body">
      #if(!$message)
      <h1 style="color: black; font-size: 60px;"><b>Register Here!</b></h1>

      #if($error)
      <p style="color:Tomato;">  $error  </p>
      #end

      <form action = "register" method = "post">
        <input type="text" placeholder="Enter Username" name="name" required style="width: 100%; height: 50px; border-radius: 25px; border: 1px solid black; padding-left: 20px; margin-top: 20px;">
        <input type="password" placeholder="Enter Password" name="pass" onkeyup="validatePassword(this);" required style="width: 100%; height: 50px; border-radius: 25px; border: 1px solid black; padding-left: 20px; margin-top: 20px;">
        <p id="invalid-password" style="color: red"></p>

        <button type="submit"  style="width: 100%; height: 50px; border-radius: 25px; border: 1px solid black; margin-top: 20px; background-color: #2f3a55; color: white; font-weight: 700">Register</button>
      </form>


      #else
      <h1 style="color: black; font-size: 60px;"><b>Success!</b></h1>
      <button type="submit" style="width: 100%; height: 50px; border-radius: 25px; border: 1px solid black; margin-top: 20px; background-color: #2f3a55; color: white; font-weight: 700" onclick="window.location.href='login'">Login</button>
      #end

    </div>
  </div>



</center>
</div>
<script>
    function validatePassword(password) {
    console.log("validatePassword");
        var password = password.value;
        if (password.length < 8) {
          document.getElementById("invalid-password").innerHTML = "Password must be at least 8 characters long";
        }
        else if (!password.match(/[0-9]+/) || !password.match(/[$@#&!]+/)) {
          document.getElementById("invalid-password").innerHTML = "Password must contain at least one digit and one special character";
        }
        else if (!password.match(/[A-Z]+/)) {
          document.getElementById("invalid-password").innerHTML = "Password must contain at least one capital letter";
        }
        else {
          document.getElementById("invalid-password").innerHTML = "";
        }
    }
</script>
</body>
</html>