<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>  Register  </title>
</head>
<body>
<center>
  <h1>Register Here!</h1>
  <form action = "register" method = "post">
    <label >Enter your username</label> <br>
    <input type="text" placeholder="Enter Username" name="name" required> </br> </br>
    <label >Enter your Password</label> <br>
    <input type="password" placeholder="Enter Password" name="pass" required> </br> </br>
<!--    confirm pass-->
    <button type="submit">Register Now!</button>
  </form>
</center>
<resource name="style1.css" type="download" location="style1.css">
</resource>
</body>
</html>